<section id="about" class="about section-offset">
        <div class="container">
                <h2 class="about__title section__title">О предприятии</h2>
                <div class="about__text grid">
                        <p class="about__descr">
                                За 20 лет развития в структуре завода сформирован мощный производственный потенциал, научно-технический центр,
                                испытательная лаборатория, современная база, учебный центр и широкая сеть региональных и международных
                                представительств в Российской Федерации, Республике Беларусь, Узбекистане и Казахстане.
                        </p>
                        <p class="about__descr">
                                Ежегодно НПП «ПИОНЕР» реализует несколько проектов по модернизации серийных и разработке новых приборов, призванные
                                в наибольшей степени удовлетворять возрастающие требования наших заказчиков.
                        </p>
                        <p class="about__descr">
                                В номенклатуре выпускаемой НПП «ПИОНЕР» продукции найдется все, что необходимо для успешного решения задачи
                                автоматизации технологических процессов на любом предприятии. Все средства измерения производства «ПИОНЕР» внесены
                                в Государственный реестр СИ и имеют необходимые разрешительные документы.
                        </p>
                </div>
                <div class="about__images grid">
                        <picture class="about__image">
                          <source srcset="img/about-1.webp" srset="img/about-1_2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/about-1.jpeg" srset="img/about-1_2x.jpeg 2x" width="580" height="280" alt="Сварщик">
                        </picture>
                        <picture  class="about__image">
                          <source srcset="img/about-2.webp" srset="img/about-2_2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/about-2.jpeg" srset="img/about-2_2x.jpeg 2x"  width="580" height="280" alt="конвейер">
                        </picture>
                </div>
        </div>
</section>

