<section class="hero section-offset">
        <div class="container">
                <div class="hero__top grid">
                        <h1 class="hero__title">Российский завод силовых машин</h1>
                        <p class="hero__descr">научно-производственное предприятие, занимающееся разработкой и производством силовых машин.</p>
                </div>
                <picture>
                        <source srcset="img/hero.webp" srcset="img/_2x.webp 2x" type="image/webp">
                        <img src="img/hero.jpg" srcset="img/hero_2x.jpg 2x" class="hero__image" width="1180" height="440" alt="Пионер">
                </picture>
        </div>
</section>
