<section id="news" class="news section-offset">
        <div class="container">
                <div class="section__title">Новости</div>
                <div class="news-slider swiper">
                        <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <article class="news-card">
                                                <picture class="news-card__img">
                                                  <source srcset="img/news-01.webp" srset="img/news-01_2x.webp 2x" type="image/webp">
                                                  <img loading="lazy" src="img/news-01.jpeg" srset="img/news-01_2x.jpeg 2x" width="380" height="251" alt="News">
                                                </picture>
                                                <div class="news-card__inner">
                                                        <h3 class="news-card__title">НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…</h3>
                                                        <div class="news-card__bottom">
                                                                <a href="#!" class="news-card__link">Читать далее</a>
                                                                <time datetime="2020-07-20" class="news-card__date">20.07.20</time>
                                                        </div>
                                                </div>
                                        </article>
                                </div>
                                <div class="swiper-slide">
                                        <article class="news-card">
                                                <picture class="news-card__img">
                                                  <source srcset="img/news-02.webp" srset="img/news-02_2x.webp 2x" type="image/webp">
                                                  <img loading="lazy" src="img/news-02.jpeg" srset="img/news-02_2x.jpeg 2x" width="380" height="251" alt="News">
                                                </picture>
                                                <div class="news-card__inner">
                                                        <h3 class="news-card__title">Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!</h3>
                                                        <div class="news-card__bottom">
                                                                <a href="#!" class="news-card__link">Читать далее</a>
                                                                <time datetime="2018-07-20" class="news-card__date">18.07.2020</time>
                                                        </div>
                                                </div>
                                        </article>
                                </div>
                                <div class="swiper-slide">
                                        <article class="news-card">
                                                <picture class="news-card__img">
                                                  <source srcset="img/news-03.webp" srset="img/news-03_2x.webp 2x" type="image/webp">
                                                  <img loading="lazy" src="img/news-03.jpeg" srset="img/news-03_2x.jpeg 2x" width="380" height="251" alt="News">
                                                </picture>
                                                <div class="news-card__inner">
                                                        <h3 class="news-card__title">Перенос сроков проведения запланированных работ в 2020 году</h3>
                                                        <div class="news-card__bottom">
                                                                <a href="#!" class="news-card__link">Читать далее</a>
                                                                <time datetime="2020-06-20" class="news-card__date">20.06.2020</time>
                                                        </div>
                                                </div>
                                        </article>
                                </div>
                                <div class="swiper-slide">
                                        <article class="news-card">
                                                <picture class="news-card__img">
                                                  <source srcset="img/news-02.webp" srset="img/news-02_2x.webp 2x" type="image/webp">
                                                  <img loading="lazy" src="img/news-02.jpeg" srset="img/news-02_2x.jpeg 2x" width="380" height="251" alt="News">
                                                </picture>
                                                <div class="news-card__inner">
                                                        <h3 class="news-card__title">Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!</h3>
                                                        <div class="news-card__bottom">
                                                                <a href="#!" class="news-card__link">Читать далее</a>
                                                                <time datetime="2018-07-20" class="news-card__date">18.07.2020</time>
                                                        </div>
                                                </div>
                                        </article>
                                </div>
                        </div>
                </div>
                <ul class="list-reset news__list grid">
                        <li class="news__item">

                        </li>
                        <li class="news__item">

                        </li>
                        <li class="news__item">

                        </li>
                </ul>
        </div>
</section>
