<section id="products" class="products section-offset">
        <div class="container">
                <h2 class="section__title">Продукция</h2>
                <ul class="list-reset products__list grid">
                        <li class="products__item">
                                <div class="products-card">
                                        <picture class="products-card__img">
                                          <source srcset="img/01.webp" srset="img/01_2x.webp 2x" type="image/webp">
                                          <img loading="lazy" src="img/01.jpeg" srset="img/01_2x.jpeg 2x" width="200" alt="Сиганлизатор уровня">
                                        </picture>
                                        <h3 class="products-card__title">Сигнализатор уровня</h3>
                                        <a href="#" class="products-card__link">
                                                Подробнее
                                                <svg class="">
                                                  <use xlink:href="img/sprite.svg#arrow"></use>
                                                </svg>
                                        </a>
                                </div>
                        </li>
                        <li class="products__item">
                                <div class="products-card">
                                        <picture class="products-card__img">
                                          <source srcset="img/02.webp" srset="img/02_2x.webp 2x" type="image/webp">
                                          <img loading="lazy" src="img/02.jpeg" srset="img/02_2x.jpeg 2x" width="200" alt="Датчики давления">
                                        </picture>
                                        <h3 class="products-card__title">Датчики давления</h3>
                                        <a href="#" class="products-card__link">
                                                Подробнее
                                                <svg class="">
                                                  <use xlink:href="img/sprite.svg#arrow"></use>
                                                </svg>
                                        </a>
                                </div>
                        </li>
                        <li class="products__item">
                                <div class="products-card">
                                        <picture class="products-card__img">
                                          <source srcset="img/03.webp" srset="img/03_2x.webp 2x" type="image/webp">
                                          <img loading="lazy" src="img/03.jpeg" srset="img/03_2x.jpeg 2x" width="200" alt="ПИД-регуляторы">
                                        </picture>
                                        <h3 class="products-card__title">ПИД-регуляторы</h3>
                                        <a href="#" class="products-card__link">
                                                Подробнее
                                                <svg class="">
                                                  <use xlink:href="img/sprite.svg#arrow"></use>
                                                </svg>
                                        </a>
                                </div>
                        </li>
                        <li class="products__item">
                                <div class="products-card">
                                        <picture class="products-card__img">
                                          <source srcset="img/04.webp" srset="img/04_2x.webp 2x" type="image/webp">
                                          <img loading="lazy" src="img/04.jpeg" srset="img/04_2x.jpeg 2x" width="200" alt="Калибратор давления">
                                        </picture>
                                        <h3 class="products-card__title">Калибратор давления</h3>
                                        <a href="#" class="products-card__link">
                                                Подробнее
                                                <svg class="">
                                                  <use xlink:href="img/sprite.svg#arrow"></use>
                                                </svg>
                                        </a>
                                </div>
                        </li>
                        <li class="products__item">
                                <div class="products-card">
                                        <picture class="products-card__img">
                                          <source srcset="img/05.webp" srset="img/05_2x.webp 2x" type="image/webp">
                                          <img loading="lazy" src="img/05.jpeg" srset="img/05_2x.jpeg 2x" width="200" alt="Корректор расхода газа">
                                        </picture>
                                        <h3 class="products-card__title">Корректор расхода газа</h3>
                                        <a href="#" class="products-card__link">
                                                Подробнее
                                                <svg class="">
                                                  <use xlink:href="img/sprite.svg#arrow"></use>
                                                </svg>
                                        </a>
                                </div>
                        </li>
                        <li class="products__item">
                                <div class="products-card">
                                        <picture class="products-card__img">
                                          <source srcset="img/06.webp" srset="img/06_2x.webp 2x" type="image/webp">
                                          <img loading="lazy" src="img/06.jpeg" srset="img/06_2x.jpeg 2x" width="200" alt="Манометры">
                                        </picture>
                                        <h3 class="products-card__title">Манометры</h3>
                                        <a href="#" class="products-card__link">
                                                Подробнее
                                                <svg class="">
                                                  <use xlink:href="img/sprite.svg#arrow"></use>
                                                </svg>
                                        </a>
                                </div>
                        </li>
                </ul>
        </div>
</section>

